.signup-container form {
    background-color: white;
    padding: 30px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.signup-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
    gap: 12px;
}

.signup-container html,
.signup-container body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.signup-container h2,
.signup-container p {
    font-family: Arial, sans-serif;
    font-weight: bold;
}

.signup-inputs,
.signup-button {
    width: 250px;
    padding: 10px;
    box-sizing: border-box;
}


.signup-button {
    border-radius: 15px;
    background-color: #4285F4;
    border-color: transparent;
    color: white;
}

.singIn {
    font-size:12px
}
